language: node_js
node_js:
  - "0.10"
notifications:
  irc:
    channels:
      - irc.codevine.io#codevine
    on_success: always
    on_failure: always
    template:
      - "[%{repository_name}] (%{commit}) : %{message} %{build_url}"
    use_notice: true
addons:
  sauce_connect:
    username: codevine
    access_key: 6145a59e-8d0e-45d3-94ff-dec50b4085a3
before_install:
  - npm install -g forever
  - npm install -g grunt-cli
before_script:
  - forever start server.js
  - sleep 5
after_success:
  - forever stopall
after_failure:
  - forever logs 0
