*, *::before, *::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	height:100%;
	margin:0;
	padding:0;
	background-image: url("http://www.gordon.edu/livesworthleading/images/aerialbig.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

body{display:table}

/*element selector*/
hgroup{display:table-cell;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 450px; height: 230px;
	padding: 25px; margin: auto;
	border-radius: 5px;
	background: white;
	display: table;
	box-shadow: 0 0 0 9999px rgba(0,0,0,.5);
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	max-width: 450px;
	height: 250px;
	padding: 2% 5%;
	margin: auto;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, .5);
}

/*class selector*/
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: all ease-in-out .15s;
	-moz-transition: all ease-in-out .15s;
	transition: all ease-in-out .15s;
}

hgroup h2 {
	font-size:1.5em;
}
